# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
collection_names = db.list_collection_names()
collection_names

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'Hygiene': 20}

# Use count_documents to display the number of documents in the result
hygiene_count = establishments.count_documents(query)

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

None

In [7]:
# Convert the result to a Pandas DataFrame
import pandas as pd
df = pd.DataFrame(list(query))

# Display the number of rows in the DataFrame
len(df)

# Display the first 10 rows of the DataFrame
df.head(10)

         0
0  Hygiene

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': 'London',
         'RatingValue': {'$gte': 4}
         }

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

None

In [9]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(query))

# Display the number of rows in the DataFrame
len(df)

# Display the first 10 rows of the DataFrame
df.head(10)

                    0
0  LocalAuthorityName
1         RatingValue

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
import pandas as pd

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = { 'geocode.latitude' : {'$gte': latitude-degree_search, '$lte': latitude+degree_search}, 
         'geocode.longitude' : {'$gte': longitude-degree_search, '$lte': longitude+degree_search},
         'RatingValue': 5}

sort = df[df['RatingValue'] == 5].sort_values(by='Hygiene', ascending=False)

# Print the results
sort

KeyError: 'RatingValue'

In [ ]:
# Convert result to Pandas DataFrame
sorted_df = sort.pd.DataFrame()

NameError: name 'sort' is not defined

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [14]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
hygiene_zero = establishments[establishments['Hygiene'] == 0]
authority = hygiene_zero.groupby('LocalAuthorityName')
authority_sorted = authority.sort_values(by='Hygiene', ascending=False)

# Print the number of documents in the result
len(authority_sorted)

# Print the first 10 results
pprint(authority_sorted.head(10))

AttributeError: 'CommandCursor' object has no attribute 'sort'

In [ ]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(authority_sorted))

# Display the number of rows in the DataFrame
len(df)

# Display the first 10 rows of the DataFrame
df.head(10)